<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sise.design.wechat.mapper.WechatStrMapper">

    <resultMap id="ResultMap" type="com.sise.design.wechat.entity.mybatis.WechatStr">
        <result column="id"         property="id"        />
        <result column="user"       property="user"      />
        <result column="msg"        property="msg"       />
        <result column="msg_time"   property="msgTime"   />
        <result column="msg_action" property="msgAction" />
        <result column="msg_type"   property="msgType"   />
    </resultMap>


</mapper>