<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sise.design.general.mapper.UserMoneyMapper">

    <resultMap id="ResultMap" type="com.sise.design.general.entity.UserMoney">
        <result column="id"            property="id"        />
        <result column="uid"       property="uid"      />
        <result column="money" property="money" />
        <result column="type"     property="type"   />
        <result column="insert_time" property="insertTime" />
    </resultMap>

    <select id="selectUserMoneySumByUid">
        select sum(money) from d_user_money where uid = #{uid}
    </select>
</mapper>